/__pycache__/__init__.cpython-37.pyc
/__pycache__/qgisred_plugins.cpython-37.pyc
/__pycache__/qgisred_utils.cpython-37.pyc
/__pycache__/resources3x.cpython-37.pyc
/ui/__pycache__/__init__.cpython-37.pyc
/ui/__pycache__/qgisred_about_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_cloneproject_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_import_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_importproject_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_newproject_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_projectmanager_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_results_dock.cpython-37.pyc
/ui/__pycache__/qgisred_toolConnectivity_dialog.cpython-37.pyc
/ui/__pycache__/qgisred_toolLength_dialog.cpython-37.pyc
/__pycache__/*.pyc
/tools/__pycache__/*.pyc
/layerStyles/*.qml
